@media(max-width: 992px){
    .logo .del{
        display: none;
    }
}
@media(max-width: 767px){
    .header .items{
        display: none;
    }
    .logo .del,
    .logo .dell{
        display: none;
    }
}
@media(max-width: 575px){
    .logo .del,
    .logo .dell,
    .logo .delle{
        display: none;
    }
}
@media(max-width: 550px){
    .header .info h1{
        font-size: 25px;
    }
}
@media(max-width: 375px){
    .logo .del,
    .logo .dell,
    .logo .delle,
    .logo .dellet{
        display: none;
    }
    .logo .col-6{
        width: 100%;
    }
}