/* start navbar */
.all {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.all .top-nav{
    overflow: hidden;
    background-color: rgba(255, 255, 255, .2);
    padding: 0 15px;
}
.all .top-nav .links{
    margin-top: 10px;
    margin-bottom: 10px;
}
.all .top-nav ul{
    margin: 0;
}
.all .top-nav .links ul li{
    display: inline-block;
    cursor: pointer;
}
.all .top-nav .links ul li a{
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;
    text-transform: capitalize;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.all .top-nav .links ul li a:nth-child(2){
    margin-right: 0;
}
.all .top-nav .links ul li:hover a{
    color: #faba00;
}
.all .top-nav .icons{
    margin-top: 10px;
    margin-bottom: 10px;
}
.all .top-nav .icons ul li{
    display: inline-block;
    cursor: pointer;
}
.all .top-nav .icons ul li a{
    color: #FFF;
    text-decoration: none;
    margin-right: 20px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.all .top-nav .icons ul li a:nth-child(2){
    margin-right: 0;
}
.all .top-nav .icons ul li:hover a{
    color: #faba00;
}
.all .navbar{
    background-color: transparent;
} 
.all .navbar .navbar-brand img:last-child{
    display: none;
}
.all .navbar .navbar-toggler{
    color: #faba00;
}
.all .navbar .collapse .navbar-nav .nav-item{
    margin-right: 30px;
}
.all .navbar .collapse .navbar-nav .nav-item:last-child{
    margin-right: 0;
}
.all .navbar .collapse .navbar-nav .nav-item .nav-link{
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
}
.all .navbar .collapse .navbar-nav .dropdown .dropdown-menu .nav-item .nav-link{
    color: #000;
    font-weight: bold;
    font-size: 12px;
}
/* end navbar */
/* start header */
.header{
    background-image: url(../image/home-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 150px;
    color: #FFF;
    height: 100%;
}
.header .info{
    width: 80%;
}
.header .info h1{
    font-weight: bold;
    text-transform: uppercase;
}
.header .info p{
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
}
.header .info button{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header .info button:hover{
    background-color: transparent;
    color: #faba00;
    transform: scale(1.005);
}
.header .items{
    background-color: rgba(255, 255, 255, .2);
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px;
}
.header .items .right{
    padding-right: 0;
}
.header .items .left{
    padding-left: 0;
}
.header .items .item.bor{
    border-right: 1px solid rgba(255, 255, 255, .2);
}
.header .items .item .icon{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    display: block;
    padding: 50px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header .items .item .icon:hover{
    background-color: #faba00;
}
.header .items .item .icon.not{
    border-bottom: none;
}
.header .items .item .icon i{
    display: block;
    margin-left: -25px;
}
.header .items .item.bor .icon i{
    margin-left: -35px;
}
/* end header */
/* start populer */
.populer{
    background-color: #f9f9ff;
    padding: 100px 0;
}
.populer h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.populer p{
    width: 80%;
    margin: auto;
    color: rgba(0 ,0 ,0 ,.6);
    margin-bottom: 70px;
}
.populer .popu .image{
    width: 100%;
    margin-bottom: 30px;
}
.populer .popu .image img{
    width: 100%;
}
.populer .popu .detels h5{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.populer .popu .detels p{
    float: left;
    font-weight: 400;
}
.populer .popu:hover h5{
    color: #faba00;
}
/* end populer */
/* start projects */
.projects .row{
    padding: 0;
    margin: 0;
}
.projects .col-md-4{
    padding: 0;
    margin: 0;
}
.projects .project{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.projects .image{
    width: 100%;
    height: 500px;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.projects .image img{
    width: 100%;
    height: 100%;
}
.projects .proj{
    padding: 20px;
    background-color: #faba00;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.projects .project:hover .proj{
    opacity: 1;
}
.projects .proj h5{
    font-weight: bold;
}
/* end projects */
/* start featuers */
.featuers{
    padding: 100px 0pX;
}
.featuers h2{
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.featuers p{
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, .6);
}
.featuers .feat{
    padding: 20px;
    background-color: #f9f9ff;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.featuers .feat:hover{
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}
.featuers .feat:hover h5{
    color: #faba00;
}
.featuers .feat h5{
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.featuers .feat h5 i{
    margin-right: 5px;
}
/* end featuers */
/* start looking */
.looking{
    padding: 100px 0;
    background-image: url(../image/notify-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}
.looking .look{
    width: 60%;
    margin: auto;
}
.looking .look h2{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.looking .look button{
    margin-top: 30px;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    background-color: #faba00;
    border: 1px solid #faba00;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.looking .look button:hover{
    color: #faba00;
    background-color: transparent;
}
/* end looking */
/* start posts */
.posts{
    padding: 100px 0;
}
.posts h2{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.posts p{
    width: 75%;
    margin: auto;
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
    margin-bottom: 50px;
}
.posts .post
.posts .post .image{
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}
.posts .post .image img{
    width: 100%;
}
.posts .post .del{
    margin-top: 20px;
}
.posts .post .del span{
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #EEE;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.posts .post .del span:hover,
.posts .post .del span.active{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
}
.posts .post .del h5 a{
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.posts .post .del p{
    float: left;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, .6);
    width: 100%;
}
.posts .post .del h6 a{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}
.posts .post .del h5 a:hover{
    color: #faba00;
}
/* end posts */
/* start logo */
.logo{
    padding: 100px 0;
    background-color: #f9f9ff;
}
.logo .image{
    display: inline-block;
    width: auto;
}
.logo .image img{
    width: 100%;
    opacity: .7;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.logo .image:hover img{
    opacity: 1;
}
/* end logo */
/* start footer */
.footer{
    padding: 100px 0;
    background-color: #222222;
    color: #FFF;
}
.footer h5{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer p{
    color: rgba(255, 255, 255, .4);
    font-size: 14px;
}
.footer p a{
    color: #faba00;
    text-decoration: none;
}
.footer input{
    display: inline-block;
    width: 80%;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #FFF;
    color: rgba(0, 0, 0, .6);
}
.footer button{
    width: 15%;
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
    margin-left: -4px;
    display: inline-block;
    padding: 11px;
}
.footer .view{
    background-color: #38a4ff;
    padding: 2px 0;
    width: 100%;
    color: rgba(0, 0, 0, .3);
    margin-top: 10px;
    display: none;
}
.footer ul li{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.footer ul li a{
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.footer ul li:hover a{
    color: #faba00;
}
/* end footer */
/* start about-us */
.about-us{
    padding: 100px 0;
}
.about-us .detals span{
    color: #c6b069;
    font-weight: bold;
    font-size: 13px;
}
.about-us .detals h2{
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}
.about-us .detals h6{
    font-weight: bold;
}
.about-us .detals p{
    color: rgba(0, 0, 0, .5);
    margin-bottom: 50px;
}
.about-us .detals button{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.about-us .detals button:hover{
    background-color: transparent;
    color: #faba00;
}
.about-us .image{
    width: 100%;
}
.about-us .image img{
    width: 100%;
}
/* end about-us */
/* start header-about */
.header-about{
    background-image: url(../image/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 100px;
    color: #FFF;
    position: relative;
    z-index: 2;
}
.header-about .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.header-about h1{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}
.header-about .breadcrumb{
    display: block;
    background-color: transparent;
    border-radius: 0;
    list-style: none;padding: 0;
    margin: 0;
    font-size: 12px;
}
.header-about ol li{
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.breadcrumb-item.active {
    color: #FFF;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #FFF;
    content: "\f061";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.header-about ol li a{
    color: #FFF;
    text-decoration: none;
    position: relative;
    z-index: 2;
}
.header-about ol li a:hover{
    color: #FFF;
    text-decoration: none;
}
/* end header-about */
/* start projects-us */
.projects-us{
    padding: 100px 0;
}
.projects-us .detals{
    width: 75%;
    margin: auto;
}
.projects-us .detals h2{
    font-weight: bold;
    text-transform: uppercase;
}
.projects-us .detals p{
    color: rgba(0, 0, 0, .5);
}
/* end projects-us */
/* start project-details */
.project-details{
    padding: 100px 0;
}
.project-details .img{
    width: 100%;
}
.project-details .img img{
    width: 100%;
}
.project-details h3{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.project-details p{
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}
.project-details span{
    font-weight: bold;
    display: block;
}
.project-details i{
    color: #faba00;
}
.project-details .info{
    margin-left: 50px;
}
.project-details .info .detals p{
    display: inline-block;
}
.project-details .object{
    margin-top: 50px;
}
/* end project-details */
/* start contact */
.contact{
    padding: 100px 0;
}
.contact .mab{
    width: 100%;
}
.contact .mab iframe{
    width: 100%;
}
.contact .cont{
    margin-bottom: 30px;
}
.contact .cont i{
    color: #faba00;
    float: left;
    margin-right: 15px;
    display: inline-block;
}
.contact .cont h6{
    font-weight: bold;
    display: inline-block;
}
.contact .cont p{
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}
.contact .form input{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #EEE;
    background-color: transparent;
    padding: 10px;
    
}
.contact .form textarea:focus,
.contact .form input:focus{
    border: 1px solid #EEE;
    outline: none
}
.contact .form textarea{
    width: 100%;
    height: 180px;
    border: 1px solid #EEE;
    background-color: transparent;
    margin-bottom: 30px;
    padding: 10px;
}
.contact .form button{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    float: right;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.contact .form button:hover{
    background-color: transparent;
    color: #faba00;
}
/* end contact */
/* start single-blog */
.single-blog{
    padding: 100px 0 100px;
}
.single-blog .sin-blog .image{
    width: 100%;
    margin-bottom: 30px;
}
.single-blog .sin-blog .image img{
    width: 100%;
    object-fit: cover;
}
.single-blog .sin-blog .info{
    padding: 20px;
}
.single-blog .sin-blog .info .links li{
    display: inline-block;
}
.single-blog .sin-blog .info .links li a{
    color: #000;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .sin-blog .info .links li a:hover{
    opacity: .8;
}
.single-blog .sin-blog .info .links li.active a{
    color: #faba00;
}
.single-blog .sin-blog .info .items li{
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
.single-blog .sin-blog .info .items li i{
}
.single-blog .sin-blog .info .items li a{
    color: #000;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .sin-blog .info .items li a:hover{
    color: #faba00;
}
.single-blog .sin-blog .info .icons li{
    display: inline-block;
    margin-left: 10px;
}
.single-blog .sin-blog .info .icons li a{
    color: #000;
    opacity: .7;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .sin-blog .info .icons li a:hover{
    opacity: 1;
}
.single-blog .sin-blog .pargh h4{
    font-weight: bold;
    width: 80%;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .sin-blog .pargh h4:hover{
    color: #faba00;
}
.single-blog .sin-blog .pargh p{
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}
.single-blog .sin-blog .pargh p.select{
    background-color: #FFF;
    padding: 20px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
    font-style: italic;
}
.single-blog .sin-blog .pargh p.end{
    padding-bottom: 100px;
    border-bottom: 1px solid #EEE;
}
.single-blog .sin-blog .commit{
    padding: 20px;
}
.single-blog .sin-blog .commit .next,
.single-blog .sin-blog .commit .prev{
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
    .single-blog .sin-blog .commit .next .img,
.single-blog .sin-blog .commit .prev .img{
    display: inline-block;
    position: relative;
}
.single-blog .sin-blog .commit .next:hover .overlay,
.single-blog .sin-blog .commit .prev:hover .overlay{
    display: block;
}
.single-blog .sin-blog .commit .next .overlay,
.single-blog .sin-blog .commit .prev .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .sin-blog .commit .next .overlay a,
.single-blog .sin-blog .commit .prev .overlay a{
    color: #FFF;
    text-align: center;
    position: relative;
    top: 30%;
    left: 40%;
}
.single-blog .sin-blog .commit .next .sub,
.single-blog .sin-blog .commit .prev .sub{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
}
.single-blog .sin-blog .commit .next .sub p,
.single-blog .sin-blog .commit .prev .sub p{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
}
.single-blog .sin-blog .commit .next .sub h6,
.single-blog .sin-blog .commit .prev .sub h6{
    font-weight: bold;
}
.single-blog .sin-blog .detals{
    background-color: #fafaff;
    margin-top: 50px;
    padding: 50px 30px;
    border: 1px solid #EEE;
}
.single-blog .sin-blog .detals.one{
    margin-top: 200px;
}
.single-blog .sin-blog .detals h5{
    font-weight: bold;
    margin-bottom: 50px;
}
.single-blog .sin-blog .detals .comment{
    margin-bottom: 20px;
}
.single-blog .sin-blog .detals .comment.active{
    padding-left: 30px;
}
.single-blog .sin-blog .detals .comment .photo{
    display: inline-block;
    position: relative;
}
.single-blog .sin-blog .detals .comment .user{
    display: inline-block;
    position: relative;
    top: 30px;
    margin-left: 20px;
}
.single-blog .sin-blog .detals .comment .user h6{
    font-weight: bold;
    cursor: pointer;
}
.single-blog .sin-blog .detals .comment .user span{
    color: #CCC;
    font-size: 12px;
}
.single-blog .sin-blog .detals .comment .user p{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    font-size: 15px;
}
.single-blog .sin-blog .detals .comment .reply{
    position: relative;
    top: 40px;
}
.single-blog .sin-blog .detals .comment .reply button{
    background-color: #FFF;
    border: 1px solid #EEE;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .sin-blog .detals .comment .reply button:hover{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
}
.single-blog .sin-blog .detals .but{
    margin-bottom: 20px;
}
.single-blog .sin-blog .detals .but input{
    width: 100%;
    padding: 5px 20px;
    color: rgba(0, 0, 0, .6);
    border: 1px solid #FFF;
}
.single-blog .sin-blog .detals .but textarea{
    width: 100%;
    padding: 5px 20px;
    color: rgba(0, 0, 0, .6);
    border: 1px solid #FFF;
    height: 150px;
}
.single-blog .sin-blog .detals .but input:focus,
.single-blog .sin-blog .detals .but textarea:focus{
    border: 2px solid #EEE;
    outline: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .sin-blog .detals .but button{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .sin-blog .detals .but button:hover{
    background-color: #FFF;
    color: #faba00;
}
.single-blog .profil{
    background-color: #fafaff;
    padding: 30px;
    border: 1px solid #EEE;
}
.single-blog .profil form{
    border-bottom: 1px solid #EEE;
    padding-bottom: 30px;
}
.single-blog .profil form input{
    width: 90%;
    margin: auto;
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
    padding: 5px 20px;
    border-radius: 30px;
}
.single-blog .profil form input:focus{
    outline: none
}
.single-blog .profil .info{
    padding-bottom: 30px;
}
.single-blog .profil .info h6{
    font-weight: bold;
    font-size: 18px;
}
.single-blog .profil .info p{
    width: 90%;
    margin: auto;
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    font-size: 15px;
}
.single-blog .profil .info ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.single-blog .profil .info ul li a{
    color: #000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .profil .info ul li a:hover{
    color: #faba00;
}
.single-blog .profil .popular{
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.single-blog .profil .popular h6{
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #faba00;
}
.single-blog .profil .popular .img{
    width: 100%;
    margin-bottom: 20px;
}
.single-blog .profil .popular .img img{
    width: 100%;
}
.single-blog .profil .popular .del{
    margin-bottom: 20px;
}
.single-blog .profil .popular .del h7{
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .profil .popular .del h7:hover{
    color: #faba00;
}
.single-blog .profil .popular .del p{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    font-size: 12px;
}
.single-blog .profil .image{
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.single-blog .profil .image a{
    width: 100%;
}
.single-blog .profil .image a img{
    width: 100%;
}
.single-blog .profil .catgories{
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.single-blog .profil .catgories h6{
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #faba00;
}
.single-blog .profil .catgories ul li{
    line-height: 2.5;
    border-bottom: 2px dotted #EEE;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .profil .catgories ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
}
.single-blog .profil .catgories ul li:hover{
    border-bottom: 2px dotted #faba00;
}
.single-blog .profil .catgories ul li:hover a{
    color: #faba00;
}
.single-blog .profil .newsletter{
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.single-blog .profil .newsletter h6{
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #faba00;
}
.single-blog .profil .newsletter p{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    width: 90%;
    margin: auto;
}
.single-blog .profil .newsletter form{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
}
.single-blog .profil .newsletter form input.two{
    width: 65%;
    padding: 5px 15px;
    border: 1px solid #EEE;
    color: #CCC;
    border-radius: 0;
    background-color: #FFF;
}
.single-blog .profil .newsletter form input.two:focus{
    outline: none;
}
.single-blog .profil .newsletter form button{
    width: 30%;
    margin-left: -5px;
    display: inline-block;
    padding: 8px 0;
    border: 1px solid #faba00;
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
}
.single-blog .profil .tag{
    border-top: 1px solid #EEE;
    padding-top: 30px;
}
.single-blog .profil .tag h6{
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #faba00;
}
.single-blog .profil .tag span a{
    background-color: #FFF;
    padding: 5px 10px;
    border: 1px solid #EEE;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.single-blog .profil .tag span:hover a{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
}
/* end single-blog */
/* start header-blog */
.header-blog{
    background-image: url(../image/banner-2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 300px 0 200px;
    color: #FFF;
    height: 125%;
}
.header-blog h1{
    font-weight: bold;
    font-size: 70px;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
.header-blog p{
    margin-bottom: 30px;
}
.header-blog button{
    background-color: #FFF;
    font-weight: 500;
    padding: 10px 30px;
    border: 1px solid #FFF;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.header-blog button:hover{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
}
/* end header-blog */
/* start simple-blog */
.simple-blog{
    padding: 100px 0 0;
}
.simple-blog .image{
    position: relative;
    width: 100%;
    cursor: pointer;
}
.simple-blog .image img{
    width: 100%;
    object-fit: cover;
}
.simple-blog .detales{
    background-color: rgba(0, 0, 0, .7);
    color: #FFF;
    padding: 30px;
    position: absolute;
    top: 25px;
    left: 40px;
    width: 80%;
    height: 80%;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.simple-blog .detales h5{
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid #FFF;
}
.simple-blog .detales p{
    font-size: 15px;
}
.simple-blog .detales:hover{
    background-color: rgba(250, 186, 0, 0.85);
}
/* end simple-blog */
/* start blog */
.blog{
    padding: 100px 0 100px;
}
.blog .sin-blog .image{
    width: 100%;
    margin-bottom: 30px;
}
.blog .sin-blog .image img{
    width: 100%;
    object-fit: cover;
}
.blog .sin-blog .info{
    padding: 20px;
}
.blog .sin-blog .info .links li{
    display: inline-block;
}
.blog .sin-blog .info .links li a{
    color: #000;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blog .sin-blog .info .links li a:hover{
    opacity: .8;
}
.blog .sin-blog .info .links li.active a{
    color: #faba00;
}
.blog .sin-blog .info .items li{
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
.blog .sin-blog .info .items li i{
}
.blog .sin-blog .info .items li a{
    color: #000;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blog .sin-blog .info .items li a:hover{
    color: #faba00;
}
.blog .sin-blog .info .image{
    width: 100%;
}
.blog .sin-blog .info .image img{
    width: 100%;
}
.blog .sin-blog .info .pargh h4{
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blog .sin-blog .info .pargh h4:hover{
    color: #faba00;
}
.blog .sin-blog .pargh p{
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}
.blog .sin-blog .info .pargh p.select{
    background-color: #FFF;
    padding: 20px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
    font-style: italic;
}
.blog .sin-blog .info .pargh p.end{
    padding-bottom: 100px;
    border-bottom: 1px solid #EEE;
}
.blog .sin-blog .info .pargh button{
    font-weight: 500;
    border: 1px solid #EEE;
    background-color: #f9f9ff;
    padding: 5px 30px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blog .sin-blog .info .pargh button:hover{
    color: #FFF;
    background-color: #faba00;
}
.blog .profil{
    background-color: #fafaff;
    padding: 30px;
    border: 1px solid #EEE;
}
.blog .profil form{
    border-bottom: 1px solid #EEE;
    padding-bottom: 30px;
}
.blog .profil form input{
    width: 90%;
    margin: auto;
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
    padding: 5px 20px;
    border-radius: 30px;
}
.blog .profil form input:focus{
    outline: none
}
.blog .profil .info{
    padding-bottom: 30px;
}
.blog .profil .info h6{
    font-weight: bold;
    font-size: 18px;
}
.blog .profil .info p{
    width: 90%;
    margin: auto;
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    font-size: 15px;
}
.blog .profil .info ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.blog .profil .info ul li a{
    color: #000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blog .profil .info ul li a:hover{
    color: #faba00;
}
.blog .profil .popular{
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.blog .profil .popular h6{
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #faba00;
}
.blog .profil .popular .img{
    width: 100%;
    margin-bottom: 20px;
}
.blog .profil .popular .img img{
    width: 100%;
}
.blog .profil .popular .del{
    margin-bottom: 20px;
}
.blog .profil .popular .del h7{
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blog .profil .popular .del h7:hover{
    color: #faba00;
}
.blog .profil .popular .del p{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    font-size: 12px;
}
.blog .profil .image{
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.blog .profil .image a{
    width: 100%;
}
.blog .profil .image a img{
    width: 100%;
}
.blog .profil .catgories{
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.blog .profil .catgories h6{
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #faba00;
}
.blog .profil .catgories ul li{
    line-height: 2.5;
    border-bottom: 2px dotted #EEE;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blog .profil .catgories ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
}
.blog .profil .catgories ul li:hover{
    border-bottom: 2px dotted #faba00;
}
.blog .profil .catgories ul li:hover a{
    color: #faba00;
}
.blog .profil .newsletter{
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.blog .profil .newsletter h6{
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #faba00;
}
.blog .profil .newsletter p{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    width: 90%;
    margin: auto;
}
.blog .profil .newsletter form{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
}
.blog .profil .newsletter form input.two{
    width: 65%;
    padding: 5px 15px;
    border: 1px solid #EEE;
    color: #CCC;
    border-radius: 0;
    background-color: #FFF;
}
.blog .profil .newsletter form input.two:focus{
    outline: none;
}
.blog .profil .newsletter form button{
    width: 30%;
    margin-left: -5px;
    display: inline-block;
    padding: 8px 0;
    border: 1px solid #faba00;
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
}
.blog .profil .tag{
    border-top: 1px solid #EEE;
    padding-top: 30px;
}
.blog .profil .tag h6{
    background-color: #faba00;
    color: #FFF;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #faba00;
}
.blog .profil .tag span a{
    background-color: #FFF;
    padding: 5px 10px;
    border: 1px solid #EEE;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blog .profil .tag span:hover a{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
}
/* end blog */
/* start elements */
.w-bold{
    font-weight: bold;
}
.w-italic{
    font-style: italic;
}
.w-underline{
    text-decoration: underline;
}
.w-throuline{
    text-decoration: line-through;
}
.main-color{
    color: #faba00;
}
.main-border{
    border: 1px solid #faba00;
    background-color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.main-border:hover{
    background-color: #faba00;
    color: #FFF;
}
.main-background{
    background-color: #faba00;
    border: 1px solid #faba00;
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.main-background:hover{
    background-color: #FFF;
    color: #faba00;
}
.silver-background{
    background-color: #f9f9ff;
    border: 1px solid transparent;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.silver-background:hover{
    background-color: #FFF;
    border: 1px solid #f9f9ff;
}
.silver-color{
    color: #007bff;
}
.white-background{
    background-color: #FFF;
    border: 1px solid #f9f9ff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.white-background:hover{
    background-color: #f9f9ff;
    border: 1px solid transparent;
    color: #000;
}
.trcoiz-background{
    background-color: #4cd3e3;
    border: 1px solid #4cd3e3;
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.trcoiz-background:hover{
    background-color: #FFF;
    color: #4cd3e3;
}
.trcoiz-color{
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background-color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.trcoiz-color:hover{
    background-color: #4cd3e3;
    color: #FFF;
}
.blue-background{
    background-color: #38a4ff;
    border: 1px solid #38a4ff;
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blue-background:hover{
    background-color: #FFF;
    color: #38a4ff;
}
.blue-color{
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background-color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blue-color:hover{
    background-color: #38a4ff;
    color: #FFF;
}
.yollow-background{
    background-color: #f4e700;
    border: 1px solid #f4e700;
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.yollow-background:hover{
    color: #f4e700;
    background-color: #FFF;
}
.yollow-color{
    color: #f4e700;
    border: 1px solid #f4e700;
    background-color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.yollow-color:hover{
    background-color: #f4e700;
    color: #FFF;
}
.red-background{
    background-color: #f44a40;
    border: 1px solid #f44a40;
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.red-background:hover{
    color: #f44a40;
    background-color: #FFF;
}
.red-color{
    color: #f44a40;
    border: 1px solid #f44a40;
    background-color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.red-color:hover{
    background-color: #f44a40;
    color: #FFF;
}
.main-padding{
    padding: 10px 30px;
}
.sm-padding{
    padding: 0 30px;
    line-height: 25px;
}
.md-padding{
    padding: 0 30px;
    line-height: 30px;
}
.lg-padding{
    padding: 0 30px;
    line-height: 45px;
}
.xl-padding{
    padding: 0 30px;
    line-height: 50px;
}
.big-radius{
    border-radius: 30px;
}
.small-radius{
    border-radius: 5px;
}
.simpel-text h3,
.simpel-buttons h3{
    font-weight: bold;
    margin-bottom: 30px;
}
.simpel-text p{
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
    font-size: 13px;
    line-height: 2;
    border-bottom: 1px solid #EEE;
    padding-bottom: 70px;
}
.simpel-text{
    padding: 70px 0 0;
}
.disabled{
    cursor: not-allowed!important;
    background-color: #f9f9ff;
    border: 1px solid transparent;
    color: #007bff;
    
}
.simpel-buttons{
    padding: 70px 0;
}
.group{
    margin-bottom: 30px;
}
.group button{
    margin-right: 10px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
}
.group button i{
    margin-left: 10px;
}
.aligned{
    
}
.aligned .left-aligned{
    padding: 50px 0;
    border-top: 1px solid #EEE;
}
.aligned p,
.definition .info p{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    font-size: 15px;
}
.aligned h3,
.definition h3,
.quotes h3,
.simple-table h3,
.image-gallery .gallery h3{
    font-weight: bold;
    margin-bottom: 30px;
}
.aligned .right-aligned{
    padding: 50px 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.aligned .left,
.aligned .right{
    width: 100%;
}
.aligned .img{
    width: 100%;
    margin-bottom: 20px;
}
.aligned .img img{
    width: 100%;
    object-fit: cover;
}
.definition{
    padding: 50px 0;
}
.definition .info h4,
.text .def-text h4.main{
    font-weight: 500!important;
    color: #000!important;
    margin-bottom: 30px;
}
.quotes{
    padding: 50px 0;
    border-top: 1px solid #EEE;
}
.quotes p{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    font-size: 15px;
    padding: 30px;
    border-left: 2px solid #faba00;
}
.simple-table .sim-table{
    padding: 50px 0;
    border-top: 1px solid #EEE;
}
.simple-table .table thead th{
    border-bottom: none;
}
.simple-table .table thead th{
    border-top: none;
}
.simple-table .table tbody td{
    padding: 20px 0;
    color: rgba(0, 0, 0, .6);
}
.simple-table .table tbody tr th{
    color: rgba(0, 0, 0, .6);
}
.simple-table .table tbody td .cantry img{
    margin-right: 10px;
}
.simple-table .table tbody td .progress{
    background-color: #FFF;
    height: 5px;
}
.simple-table .table tbody td .progress .progress-bar{
    height: 5px;
    line-height: 5px;
}
.simple-table .table tbody td .progress .progress-bar.one{
    background-color: #6382e6;
    width: 80%;
}
.simple-table .table tbody td .progress .progress-bar.two{
    background-color: #e66686;
    width: 30%;
}
.simple-table .table tbody td .progress .progress-bar.three{
    background-color: #f09359;
    width: 55%;
}
.simple-table .table tbody td .progress .progress-bar.four{
    background-color: #73fbaf;
    width: 60%;
}
.simple-table .table tbody td .progress .progress-bar.five{
    background-color: #73fbaf;
    width: 40%;
}
.simple-table .table tbody td .progress .progress-bar.six{
    background-color: #6382e6;
    width: 70%;
}
.simple-table .table tbody td .progress .progress-bar.siven{
    background-color: #a367e7;
    width: 30%;
}
.simple-table .table tbody td .progress .progress-bar.eight{
    background-color: #e66686;
    width: 60%;
}
.image-gallery .gallery{
    padding: 50px 0;
    border-top: 1px solid #EEE;
}
.image-gallery .gallery .image{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}
.image-gallery .gallery .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.image-gallery .gallery .image:hover img{
    opacity: .8;
}
.text .def-text{
    padding: 50px 0;
    border-top: 1px solid #EEE;
}
.text .def-text h1{
    font-size: 36px;
}
.text .def-text .typography h1,
.text .def-text .typography h2,
.text .def-text .typography h3,
.text .def-text .typography h4,
.text .def-text .typography h5,
.text .def-text .typography h6{
    font-weight: bold;
    color: #777;
}
.text .def-text ul li{
    position: relative;
    padding-left: 25px;
    color: rgba(0, 0, 0, .6);
}
.text .def-text ul li::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #f8b600;
    background: #fff;
    top: 5px;
    left: 0;
    border-radius: 50%;
}
.text .def-text ol.list-one li{
    list-style-type: decimal-leading-zero;
    color: #f8b600;
    font-weight: 500;
    line-height: 1.8;
}
.text .def-text ol.list-two li{
    list-style-type: lower-alpha;
}
.text .def-text ol.list-three li{
    list-style-type: lower-roman;
}
.text .def-text ol li span{
    color: rgba(0, 0, 0, .6);
    font-weight: normal;
}
.elements .element{
    padding: 50px 0;
    border-top: 1px solid #EEE;
}
.elements .element .form-element{
    width: 100%;
}
.elements .element h3{
    font-weight: bold;
    margin-bottom: 30px;
}
.elements .element .form-element form{
    width: 100%;
}
.elements .element .form-element form .form{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
} 
.elements .element .form-element form .form input{
    width: 100%;
    padding: 5px 30px;
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff;
}
.elements .element .form-element form .form i{
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(0, 0, 0, .6);
}
.elements .element .form-element form .form select{
    width: 100%;
    padding: 5px 30px;
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff;
    cursor: pointer;
}
.elements .element .form-element form .form select option{
    background-color: #FFF;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.elements .element .form-element form .form select option:hover{
    background-color: #FFF;
    color: #faba00;
}
.elements .element .form-element form .form textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: #f9f9ff;
    border: 1px solid #f9f9ff;
}
.elements .element .form-element form .form input:focus,
.elements .element .form-element form .form select:focus,
.elements .element .form-element form .form select option:focus,
.elements .element .form-element form .form textarea:focus{
    outline: none;
}
.elements .element .selectboxes select{
    background-color: #FFF;
    border: 1px solid #FFF;
    margin-bottom: 30px;
    color: #777;
    cursor: pointer;
}
.elements .element .selectboxes select option{
    background-color: #FFF;
    cursor: pointer;
}
.elements .element .checkboxes .checkboxe{
    
}
.elements .element .checkboxes .checkboxe p{
    display: inline-block;
}
.elements .element .checkboxes .checkboxe .choose-red{
    display: inline-block;
    float: right;
    margin-right: 30px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #FFF;
    position: relative;
    cursor: pointer;
}
.elements .element .checkboxes .checkboxe .choose-red input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.elements .element .checkboxes .checkboxe .choose-red input + label {
    background-image: url(../image/primary-check.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
}
.elements .element .checkboxes .checkboxe .choose-black{
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.elements .element .checkboxes .checkboxe .choose-black label{
    
}
.elements .element .checkboxes .checkboxe .choose-black input{
    
}
.elements .element .checkboxes .checkboxe .choose{
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.elements .element .checkboxes .checkboxe .choose input{
    cursor: not-allowed;
}
.elements .element .checkboxes .checkboxe .choose label{
    
}
.elements .element .checkboxes .checkboxe .choose-white{
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.elements .element .checkboxes .checkboxe .choose-white label{
    
}
.elements .element .checkboxes .checkboxe .choose-white input{
    cursor: not-allowed;
} 
.elements .element .radios .radio{
    
}
.elements .element .radios .radio p{
    display: inline-block;
}
.elements .element .radios .radio .choose-red{
    display: inline-block;
    float: right;
    margin-right: 30px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #FFF;
    position: relative;
    cursor: pointer;
}
.elements .element .radios .radio .choose-red input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.elements .element .radios .radio .choose-red input + label {
    background-image: url(../image/primary-radio.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
}
.elements .element .radios .radio .choose-black{
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.elements .element .radios .radio .choose-black label{
    
}
.elements .element .radios .radio .choose-black input{
    
}
.elements .element .radios .radio .choose{
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.elements .element .radios .radio .choose input{
    cursor: not-allowed;
}
.elements .element .radios .radio .choose label{
    
}
.elements .element .radios .radio .choose-white{
    display: inline-block;
    float: right;
    margin-right: 30px;
}
.elements .element .radios .radio .choose-white label{
    
}
.elements .element .radios .radio .choose-white input{
    cursor: not-allowed;
} 
/* end elements */